version: '3.8'

services:
  # Service 1: Backend API
  backend:
    build: ./backend
    container_name: sinfomik_backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - NODE_ENV=production
      # Backend harus tahu URL Frontend untuk izin CORS
      - FRONTEND_URL=http://localhost:3000 
      - JWT_SECRET=5a773de07047db45f31eb47d9dc775dc9ac00df93a37be96d16deb16a359c2b0
    volumes:
      - ./backend/academic_dashboard.db:/app/academic_dashboard.db
      - ./backend/uploads:/app/uploads

  # Service 2: Frontend UI
  frontend:
    build: ./frontend
    container_name: sinfomik_frontend
    restart: unless-stopped
    ports:
      - "3000:80" # Mapping port 3000 laptop ke port 80 container
    depends_on:
      - backend