version: '3.8'

services:
  backend:
    build: ./backend
    container_name: sinfomik_backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - NODE_ENV=production
      - FRONTEND_URL=http://localhost:3000
      - JWT_SECRET=5a773de07047db45f31eb47d9dc775dc9ac00df93a37be96d16deb16a359c2b0
      # ARAHKAN DATABASE KE FOLDER VOLUME
      - DB_PATH=/app/data_persist/academic_dashboard.db 
    volumes:
      # Gunakan Named Volume (Brankas Docker)
      - sqlite_data:/app/data_persist
      # Uploads juga bisa dipersistenkan
      - uploads_data:/app/uploads

  frontend:
    build: ./frontend
    container_name: sinfomik_frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend

# Definisi Volume (Brankas)
volumes:
  sqlite_data:
  uploads_data:
